<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<button class="theme-toggle" onclick="toggleTheme()">
    Toggle Theme
</button>

<div class="auth-container">

    <div class="auth-card">

        <h1>Notes App</h1>
        <p class="subtitle">Login to continue</p>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="flash">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form action="/login" method="POST">

            <input type="text"
                   name="username"
                   placeholder="Enter Username..."
                   required>

            <input type="password"
                   name="password"
                   placeholder="Enter Password..."
                   required>

            <button type="submit" class="full-btn">
                Login
            </button>

        </form>

        <p class="bottom-text">
            Don’t have an account?
            <a href="/signup-pg">Sign Up</a>
        </p>

    </div>

</div>

<script>

const savedTheme = localStorage.getItem("theme");

if(savedTheme === "light"){
    document.body.classList.add("light-theme");
}

function toggleTheme(){

    document.body.classList.toggle("light-theme");

    if(document.body.classList.contains("light-theme")){
        localStorage.setItem("theme","light");
    }

    else{
        localStorage.setItem("theme","dark");
    }

}

</script>

</body>
</html>